<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <meta name="viewport" content="width=device-width">
    <title>管理平台</title>
    <link rel="stylesheet" href="../../static/js/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/js/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/admin.css">
    <script src="../../static/js/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../static/js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../static/js/admin.js"></script>
</head>
<body>
    <header>
        <nav>
            <i class="fa fa-bars"></i>
            <span>老朱的内部交易平台</span>
        </nav>
    </header>
    <!-- 侧栏 -->
    <section class="sidebar col-md-2 col-sm-3">
        <div>
            <ul>
                <li>学校概况</li>
                <li>学院概况</li>
                <li>研究方向</li>
                <li>招聘岗位</li>
                <li>人才政策</li>
                <li>联系我们</li>
            </ul>
        </div>
    </section>

    <!-- 主页面 -->
    <section>
        <!-- tab -->
        <div>
            <ul>
                <li></li>
            </ul>
        </div>

        <!-- list -->
        <div>
            <ul>
                <li></li>
            </ul>
        </div>

        <!-- editor -->
        <div>

        </div>
    </section>
    <footer>

    </footer>
</body>
</html>