<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <meta name="viewport" content="width=device-width">
    <title>管理平台</title>
    <link rel="stylesheet" href="../../static/js/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/js/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/js/vendor/webuploader/dist/webuploader.css">
    <link rel="stylesheet" href="../../static/js/vendor/simditor/styles/simditor.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/admin.css">
    <script src="../../static/js/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../static/js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../static/js/vendor/webuploader/dist/webuploader.min.js"></script>
    <script src="../../static/js/vendor/simple-module/lib/module.js"></script>
    <script src="../../static/js/vendor/simple-hotkeys/lib/hotkeys.js"></script>
    <script src="../../static/js/vendor/simple-uploader/lib/uploader.js"></script>
    <script src="../../static/js/vendor/simditor/lib/simditor.js"></script>
    <script src="../../static/js/admin.js"></script>
    <script src="../../static/js/uploader.js"></script>
</head>
<body>
    <header>
        <nav class="nav">
            <i class="fa fa-bars bars"></i>
            <span>老朱的内部交易平台</span>
        </nav>
    </header>
    <!-- 侧栏 -->
    <section class="container-fluid">
        <div class="row">
            <div class="sidebar col-md-2 col-sm-3">
                <ul class="nav nav-sidebar">
                    <li>
                        <a href="javascript:;" data-go-to="about_school">学校概况</a>
                    </li>
                    <li class="active">
                        <a href="javascript:;" data-go-to="about_college">学院概况</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-go-to="research">研究方向</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-go-to="position">招聘岗位</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-go-to="policy">人才政策</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-go-to="connection">联系我们</a>
                    </li>
                </ul>
            </div>

            <!-- 主页面 -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 admin-content">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#editor-article" aria-controls="editor-article" role="tab" data-toggle="tab">管理文章</a>
                    </li>
                    <li role="presentation">
                        <a href="#add-article" aria-controls="add-article" role="tab" data-toggle="tab">添加文章</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="editor-article">
                        <ul>
                            <li class="admin-content btn btn-default" data-id="1">
                                文章标题：
                                编辑时间：
                                <button class="btn btn-sm btn-success"
                                        data-target="#update-article" data-toggle="modal"
                                        data-to-do="update" data-id="1">编辑</button>
                                <button class="btn btn-sm btn-danger"
                                        data-target="#delete-article" data-toggle="modal"
                                        data-to-do="delete" data-id="1">删除</button>
                                <button class="btn btn-sm btn-primary"
                                        data-to-do="show" data-id="1">设为展示文章</button>
                            </li>
                        </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="add-article">
                        <p class="bg-danger"></p>
                        <div class="input-group input-group-lg admin-input">
                            <input class="form-control" type="text" placeholder="文章标题" id="add-title">
                        </div>
                        <textarea name="append" id="append" placeholder="" autofocus></textarea>
                        <div id="container">
                            <button id="picker" class="btn btn-default btn-lg">
                                <i class="fa fa-plus"></i>
                                <span>选择文件</span>
                            </button>
                        </div>
                        <div id="add-button">
                            <a class="btn btn-primary btn-lg">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                <span>上传</span>
                            </a>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-striped table-hover text-left">
                                <thead>
                                    <tr>
                                        <th class="col-md-4">文件名</th>
                                        <th class="col-md-2">大小</th>
                                        <th class="col-md-6">链接</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>


                    <!-- 编辑模态框 -->
                    <div id="update-article" class="modal fade" role="dialog" tabindex="-1"
                         aria-labelledby="add">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">
                                            &times;
                                        </span>
                                    </button>
                                    <h4 class="modal-title">编辑</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group input-group-lg admin-input">
                                        <input class="form-control" type="text" placeholder="文章题目" id="update-title"/>
                                    </div>
                                    <textarea name="update" id="update" placeholder="" autofocus></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default"
                                            data-dismiss="modal">取消</button>

                                    <!-- 这个按钮还没弄完 -->
                                    <button class="btn btn-info">保存但是不上传</button>

                                    <button class="btn btn-success">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 删除模态框 -->
                    <div id="delete-article" class="modal fade bs-example-modal-sm" tabindex="-1"
                         role="dialog" aria-labelledby="delete">

                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">
                                            &times;
                                        </span>
                                    </button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <p>是否删除此条</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default"
                                            data-dismiss="modal">关闭</button>
                                    <button class="btn btn-danger"
                                            data-dismiss="modal">删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section>
        <!-- 提示模态框 -->
        <div class="modal fade bs-example-modal-sm" tabindex="-1"
             role="dialog" id="fail">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="model-header">
                        <button class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                &times;
                            </span>
                        </button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p>然而并没有成功</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>

    </footer>

</body>
</html>