<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <meta name="viewport" content="width=device-width">
    <title>登录</title>
    <link rel="stylesheet" href="../../static/js/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/js/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/admin.css">
    <script src="../../static/js/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../static/js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../static/js/vendor/js-md5/build/md5.min.js"></script>
    <script src="../../static/js/login.js"></script>
</head>
<body>
    <header>
        <nav>
            <i class="fa fa-bars"></i>
            <span>老朱的内部交易平台</span>
        </nav>
    </header>
    <section>
        <form method="post">
            <h3><i class="fa fa-home"></i>登录</h3>
            <p class="bg-danger disappear note">用户名或密码错误</p>
            <div class="form-group">
                <label for="username">
                    <input class="form-control" type="text" id="username" name="username" placeholder="交易用户名(<=20位)" maxlength="20">
                </label>
            </div>
            <div class="form-group">
                <label for="password">
                    <input class="form-control" type="password" id="password" name="password" placeholder="交易密码(6-20位)" maxlength="20">
                </label>
            </div>
            <button class="btn btn-primary btn-lg">登录</button>
        </form>
    </section>
    <footer>

    </footer>
</body>
</html>