<section class="sec-title">
    <img src="../static/media/img/title.png" alt="title">
    <!-- 挂上服务器要改 -->
</section>
<section class="sec-content">
    <!--　插入内容　-->
</section>
<section>
    <div class="blank-space"></div>
</section>
<section class="sec-menu">
    <div class="sec-back">
        <a href="javascript:;"><i class="fa fa-reply"></i></a>
    </div>
    <div>
        <ul class="sec-footer">
            <li data-go-to="index"><a href="javascript:;">首页</a></li>
            <li data-go-to="">
                <a href="javascript:;">关于我们</a>
                <ul class="footer-extend">
                    <li data-go-to="about_school"><a href="javascript:;">学校概况</a></li>
                    <li data-go-to="about_college"><a href="javascript:;">学院概况</a></li>
                </ul>
            </li>
            <li data-go-to="research"><a href="javascript:;">研究方向</a></li>
            <li data-go-to="">
                <a href="javascript:;">人才引进</a>
                <ul class="footer-extend">
                    <li data-go-to="position"><a href="javascript:;">招聘岗位</a></li>
                    <li data-go-to="policy"><a href="javascript:;">人才政策</a></li>
                </ul>
            </li>
            <li data-go-to="connection"><a href="javascript:;">联系我们</a></li>
        </ul>
    </div>
</section>