<article>
    <h3>人才引进政策</h3>
    <p><b>1、申报教授岗位专业技术职务人员原则上需具备以下条件之一</b></p>
    <p>1)在985高校或中科院研究院（所）受聘副教授（副研究员）满5年且特别优秀；</p>
    <p>2)在海外高校取得博士学位，毕业后国外研修满5年且特别优秀；</p>
    <p>3)在国内高校取得博士学位，毕业后国外研修满6年且特别优秀；</p>
    <p><b>2、申报副教授岗位专业技术职务人员原则上需具备以下条件之一</b></p>
    <p>1)在海外高校取得博士学位，毕业满2年且特别优秀；</p>
    <p>2)在国内高校取得博士学位，毕业满3年且特别优秀。</p>
    <p><b>3、青年才俊计划（学院）</b></p>
    <p>1）有博士学位，并有海（境）外博士后（或在海（境）外有2年及以上）从事研究工作的经历</p>
    <p>2）在顶级期刊或中国计算机学会推荐的A类会议上，以第一作者发表/录用论文（full/regular paper）
        至少4篇，其中顶级期刊至少2篇（注：若中国计算机学会推荐的A类期刊涵盖申请人的研究方向，本办法中顶级
        期刊即为该A类期刊；其他情况以中国科学院SCI(I)区期刊为准）。</p>
    <p>3）全职到岗工作，年龄原则上不超过35周岁。</p>
    <p><b>4、人才引进相关待遇参考学校及学院相关政策执行</b></p>
</article>