<article>
    <h3>招聘岗位</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>科研团队</td>
            <td>需求方向</td>
            <td>学位</td>
            <td>职称</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>数据科学与数字信息服务研究所</td>
            <td>数字媒体、虚拟现实</td>
            <td>博士</td>
            <td>讲师、副教授及以上</td>
        </tr>
        <tr>
            <td>软件安全与信息安全研究所</td>
            <td>无线网络、网格与安全机制</td>
            <td>博士</td>
            <td>讲师、副教授及以上</td>
        </tr>
        <tr>
            <td rowspan="2">高性能计算研究所</td>
            <td>高可信嵌入式软件</td>
            <td rowspan="2">博士</td>
            <td rowspan="2">讲师、副教授及以上</td>
        </tr>
        <tr>
            <td>分布式处理与并行计算</td>
        </tr>
        <tr>
            <td>泛在网络与计算研究所</td>
            <td>智能计算与信息技术、网络通讯</td>
            <td>博士</td>
            <td>讲师、副教授及以上</td>
        </tr>
        <tr>
            <td>软件工程理论与技术研究所</td>
            <td>软件工程、软件演化</td>
            <td>博士</td>
            <td>讲师、副教授及以上</td>
        </tr>
        <tr>
            <td>软件外语研究所</td>
            <td>大学英语、大学日语</td>
            <td>博士</td>
            <td>讲师、副教授及以上</td>
        </tr>
        <tr>
            <td>实验中心</td>
            <td>信息安全、软件测试</td>
            <td>博士</td>
            <td>讲师、副教授及以上</td>
        </tr>
        <tr>
            <td rowspan="3">软件工程研究院</td>
            <td>云计算、云平台设计与优化、算法设计</td>
            <td>博士</td>
            <td>讲师、副教授及以上</td>
        </tr>
        <tr>
            <td>软件测试、嵌入式、算法设计</td>
            <td>博士</td>
            <td>讲师、副教授及以上</td>
        </tr>
        <tr>
            <td>智慧城市研究、大数据处理、智能计算、数据库技术</td>
            <td>博士</td>
            <td>讲师、副教授及以上</td>
        </tr>
        </tbody>
    </table>
</article>

