<article>
    <h3>研究方向</h3>
    <p><b>1、数据科学与数字信息处理研究所</b></p>
    <p>研究方向：人工智能与模式识别、数据挖掘及可视化、大数据处理与分析、计算智能、
        计算机图形图像、数字媒体、服务科学与工程、生物信息学、智慧教育与数字化学习、智慧城市等。</p>
    <p><b>2、泛在网络与计算研究所</b></p>
    <p>研究方向：网络科学、大数据处理、物联网与云计算、移动互联网，社会计算等。</p>
    <p><b>3、高性能计算研究所</b></p>
    <p>研究方向：高性能计算、可信计算、嵌入式计算、嵌入式应用、手机应用等。</p>
    <p><b>4、软件安全与信息安全研究所</b></p>
    <p>研究方向：软件安全、无线网络系统、Web安全、社交网络、物联网、传b感网系统等。</p>
    <p><b>5、软件工程理论与技术研究所</b></p>
    <p>研究方向：软件体系结构、软件仓库挖掘、基于搜索的软件工程、软件测试等。</p>
    <p><b>6、软件外语研究所</b></p>
    <p>研究方向：语料库语言学、计算机辅助外语教学、情感分析与观点挖掘、软件外语教学与研究等。</p>
</article>