<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <meta name="viewport" content="width=device-width">
    <title>大连理工大学人才招聘微主页（2016）</title>
    <link rel="stylesheet" href="static/js/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/js/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/ssdut.css">
    <script type="text/javascript" src="static/js/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

<script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>