* {
    box-sizing: border-box;
}


html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    background: #1e2127;
    color: #EEEEEE;
    z-index: 999;
}

nav {
    font-size: 20px;
}

nav i {
    padding: 15px 20px;
    float: left;
}

nav span {
    padding: 11px 20px;
    float: left;
}

nav i + span {
    border-left: 1px solid #aaaaaa;
}

nav i {
    cursor: pointer;
}

nav i:hover {
    opacity: 0.8;
}

section {
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    background: #252830;
    z-index: 2;
}

form h3, form button {
    text-align: center !important;
}

form h3 {
    color: #ffffff;
}

form button, form label {
    width: 80% !important;
    min-width: 200px;
}

section form {
    position: absolute;
    margin-left: -17.5%;
    margin-top: -115px;
    padding: 40px 10px;
    width: 35%;
    text-align: center;
    top: 50%;
    left: 50%;
    min-height: 230px;
    border-radius: 5px;
    box-shadow: 5px 5px #222222;
    background: #434857 repeat 0 0;
}

@media all and (max-width: 628px) {
    section form {
        position: relative;
        width: 100%;
        top: 25%;
        left: 0;
        margin: auto;
        background: #252830 repeat 0 0;
        box-shadow: 0 0;
        border-radius: 0;
    }
}

.note {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.disappear {
    display: none;
}
