h2 {
    font-weight: bold;
}
p.bg-danger {
    display: none;
}

.show {
    display: block;
}

.container {
    margin: 100px auto;
    padding: 20px;
    width: 500px;
    height: auto;
    text-align: center;
    border: 10px solid #333333;
    border-radius: 5px;
}