
body {
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.title {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;
}

.title img {
    width: 100%;
    height: auto;
}


#carousel-generic {
    position: relative;
}

#carousel-generic div{
    height: inherit;
}

.carousel-indicators {
    margin-left: -15%;
    text-align: right;
    float: right;
    right: 7%;
    left: 93%;
    width: 70px;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.carousel-indicators li.active {
    width: 22px;
    height: 22px;
    border-radius: 22px;
}

.carousel-inner {
    position: absolute;
}


.bg1, .bg2, .bg3 {
    height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.bg1 {
    background-image: url(../media/img/bg1.jpg);
}

.bg2 {
    background-image: url(../media/img/bg2.jpg);
}

.bg3 {
    background-image: url(../media/img/bg3.jpg);
}


.list {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 8px 0;
    overflow: hidden;
    bottom: 0;
    background: #004aa9 repeat 0 0;
}

.list li {
    width: 16.6%;
}

.list a {
    margin: 2px;
    padding: 3px 0;
    display: block;
    background: rgba(11, 124, 217, 0.8) repeat 0 0;
    border-radius: 4px;
    text-align: center;
    color: #FFFFFF;
}

.list p {
    overflow: hidden;
    white-space: normal;
    word-break: keep-all;
    font-size: 12px;
}

.icon {
    display: block;
    width: 40px;
    height: 30px;
    margin: 0 auto;
    overflow: hidden;
    background: url(../media/img/icon.png) no-repeat;
    background-size: 300% auto;
}



.icon-building {
    background-position: 0 0;
}

.icon-flask {
    background-position: 50% 0;
}

.icon-hand {
    background-position: 100% 0;
}

.icon-champion {
    background-position: 0 33.3%;
}

.icon-graph {
    background-position: 50% 33.3%;
}

.icon-setting {
    background-position: 100% 33.3%;
}

.icon-door {
    background-position: 0 66.7%;
}

.icon-blackboard {
    background-position: 50% 66.7%;
}

.icon-doctor {
    background-position: 100% 66.7%;
}

.icon-picture {
    background-position: 0 100%;
}

.icon-connection {
    background-position: 50% 100%;
}

.icon-map {
    background-position: 100% 100%;
}

section {
    width: 100%;
}

.sec-title, .sec-content {
    text-align: center;
}

.sec-title {
    background: #0752CD repeat 0 0;
    border-bottom: 5px solid #FFFFFF;
}

.sec-title img {
    max-width: 640px;
    width: 100%;
    height: auto;
}

.sec-content {
    border-top: 5px solid #008343;
}

article {
    margin: auto;
    padding: 0 5px;
    max-width: 640px;
}

h3 {
    line-height: 250%;
}

h3 {
    font-weight: bold;
}

article p, article strong {
    line-height: 150%;
    text-indent: 2em;
    text-align: left;
    font-size: 20px;
}
article p {
    font-weight: 600;
}

article img {
    width: 100%;
}

.sec-menu {
    position: fixed;
    bottom: 0;
}

.sec-back, .sec-footer {
    position: relative;
}

.sec-back {
    width: 100%;
    height: auto;


}

.sec-back a {
    color: #ffffff;
}

.sec-back i{
    position: fixed;
    z-index: 999;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    margin-bottom: 5px;
    border-radius: 20px;
    background: #333333 repeat 0 0;
    right: 5px;
    bottom: 40px;
    text-align: center;
    font-size: 28px;
}

.sec-footer li {
    width: 20%;
    background: #333333 repeat 0 0;
    text-align: center;
    font-size: 12.5px;
    color: #FFFFFF;
}

.sec-footer li:hover {
    background: #373737 repeat 0 0;
}

.sec-footer li + li {
    border-left: 1px solid #111111;
}

.item-active {
    background: #1565B1 repeat 0 0 !important;
}

.item-active a:hover {
    text-decoration: none;
}

.sec-footer li > a {
    display: block;
    padding: 10px 0;
    color: #FFFFFF;
    font-weight: 700;
}


td {
    vertical-align: middle !important;
    text-align: center;
}

.blank-space {
    width: 100%;
    height: 65px;
}

.footer-extend {
    display: none;
    position: fixed;
    width: 20%;
    bottom: 37px;
}

.footer-extend li {
    width: 100%;
}

.footer-extend > a{
    display: block;
    padding: 10px 0;
    color: #FFFFFF;
    font-weight: 700;
}

.show-extend {
    display: block !important;
}